@model  PagedViewModel<BlogPost>
@{
    ViewData["Title"] = "Index";
}

<div role="tabpanel" class="tab-pane fade in active" id="blog">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">BLOG</h5>

        <!-- Blog -->
        <div id="dynamic-body">
            <partial name="_BlogsPartialView" model="@Model" />
        </div>

    </div>
</div>
@section addjs{ 
<script>
    function goPage(page, size) {

        $.ajax({
            type: 'post',
            data: {
                pageIndex: page,
                pageSize: size
            },
            success: function (response) {
                $('#dynamic-body').html(response);
                console.log(response)
                
            },
            error: function (resp) {
                console.log(resp);
            }
        });

    }
</script>
}


