@{
    ViewData["Title"] = "Contact";
}
<div role="tabpanel" class="tab-pane fade in active" id="contact">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">CONATCT ME</h5>

        <!-- Conatct Pages  -->
        <section>
            <div class="padding-left-30 padding-right-30 padding-top-50 padding-bottom-50">
                <div class="row ">
                    <!-- Phone Number  -->
                    <div class="col-md-4 text-center">
                        <div class="icon-box ib-style-1 ib-circle ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-text-alt i-xlarge dark-text">
                            <div class="ib-icon"> <i class="fa fa-mobile text-primary"></i> </div>
                            <div class="ib-info text-dark">
                                <p>+61 3 8376 6284</p>
                                <p>+61 3 8376 6284</p>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="col-md-4 text-center">
                        <div class="icon-box ib-style-1 ib-circle ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-text-alt i-large">
                            <div class="ib-icon"> <i class="fa fa-map-marker text-primary"></i> </div>
                            <div class="ib-info text-dark">
                                <p>PO Box 21177 Litte Lonsdale St, Melbourne Victoria 8011 Australia</p>
                            </div>
                        </div>
                    </div>

                    <!-- Email  -->
                    <div class="col-md-4 text-center">
                        <div class="icon-box ib-style-1 ib-circle ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-text-alt i-large">
                            <div class="ib-icon"> <i class="fa fa-envelope-o text-primary"></i> </div>
                            <div class="ib-info text-dark">
                                <p class="no-margin-bottom"><a href="#." class="text-white">support@yourcompany.com</a></p>
                                <p class="no-margin-bottom"><a href="#." class="text-white">support@yourcompany.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MAP -->
            <section class="map-block">
              @*  <div class="map-wrapper" id="map-canvas" data-lat="40.415271" data-lng="49.900083" data-zoom="13" data-style="1"></div>
                <div class="markers-wrapper addresses-block"> <a class="marker" data-rel="map-canvas" data-lat="-37.814199" data-lng="144.961560" data-string="Envato"></a> </div>*@
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24313.215380891517!2d49.86191205!3d40.3833254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6a7f9f2ccb%3A0x33c97b0f9560617c!2sAzerbaijan%20University%20of%20Languages!5e0!3m2!1sen!2s!4v1670762851719!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </section>

            <!-- Contact  -->
            <h5 class="tittle">SAY HELLO</h5>
            <div class="contact style-3 light-border padding-top-50 padding-bottom-50 padding-left-20 padding-right-20">

                <!-- Form  -->
                <div class="contact-right">
                    <!-- Success Msg -->
                    <div id="contact_message_1" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Thank You. Your Message has been Submitted</div>

                    <!-- FORM -->
                    <form role="form" id="contact_form_1" class="contact-form" method="post" asp-controller="Home" asp-action="Contact">
                        <ul class="row">
                            <li class="col-sm-4">
                                <label>
                                    <input type="text" class="form-control"  name="Name" id="name_1" placeholder="NAME">
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    <input type="text" class="form-control" name="Email" id="email_1" placeholder="EMAIL">
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    <input type="text" class="form-control" name="Subject" id="company_1" placeholder="SUBJECT">
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    <textarea class="form-control" name="Message" id="message_1" rows="5" placeholder="CONTENT..."></textarea>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <button type="submit">SEND ME</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
