 <div class="tab-content">

    <!-- ABOUT ME -->
    @await Component.InvokeAsync("AboutMe")
    <!-- RESUME -->

    @await Component.InvokeAsync("Resume")

    <!-- PORTFOLIO -->
    @await Component.InvokeAsync("Portfolio")

    <!-- BLOG -->
    @await Component.InvokeAsync("Blog")

    <!-- Contact -->
    @await Component.InvokeAsync("ContactMe")

</div>