@model PagedViewModel<BlogPost>
@{
    ViewData["Title"] = "Index";

}

<!-- Page-header start -->
<div class="page-header">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <div class="d-inline">
                    <h4>Bootstrap Basic Tables</h4>
                    <span>
                        lorem ipsum dolor sit amet, consectetur adipisicing
                        elit
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <ul class="breadcrumb-title">
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="../index.html"> <i class="feather icon-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Bootstrap Table</a>
                    </li>
                    <li class="breadcrumb-item" style="float: left;">
                        <a href="#!">Basic Table</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<!-- Page-body start -->
<div class="page-body">
    <!-- Basic table card start -->
    <div class="card">
        <div class="card-header">
            <h5>Basic Table</h5>
            <span>use class <code>table</code> inside table element</span>

        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>image</th>
                            <th>WrittenBy</th>

                            <th class="operation">
                                <a asp-action="create" class="btn btn-success">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="dynamic-body">
                        <partial name="_ListBody" model="@Model" />
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Basic table card end -->
</div>


@section addcss{
    <link rel="stylesheet" href="~/libs/tab-control/tab-control.css" />
    <style>
        input[type=checkbox].checkbox {
            display: none;
        }

            input[type=checkbox].checkbox + label {
                position: relative;
                padding-left: 25px;
            }

                input[type=checkbox].checkbox + label::before {
                    content: "";
                    font-size: 0.7em;
                    font-weight: 900;
                    font-family: "Font Awesome 5 Free";
                    position: absolute;
                    border: 1px solid #cccccc85;
                    width: 18px;
                    height: 18px;
                    border-radius: 2px;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    text-align: center;
                    text-indent: 1px;
                    line-height: 1.7em;
                }

        input[type=checkbox]:checked.checkbox + label::before {
            content: "\f00c";
            color: #ffffff;
            background-color: teal;
            border-color: teal;
        }
    </style>
}

@section addjs{
    <script src="~/libs/tab-control/tab-control.js"></script>

    <script>
        $(document).ready(function () {
            $(".publish").click(function (e) {
                e.preventDefault()
                const id = $(e.currentTarget).attr("id");
                var urllink = `/Admin/BlogPost/Publish/${id}`
                $.ajax({
                    type: "POST",
                    url: urllink,
                    success: function (response) {
                        if (response.error == true) {
                            toastr.error(response.message)
                        }
                        else if (response.error == false) {
                            toastr.success(response.message)
                        }
                    }
                        

                })
                
            });
        })
    </script>
}


