<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>

        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a asp-controller="home" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Ana sehife</span>
                </a>
            </li>
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Məhsul</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="active">
                        <a asp-controller="Person" asp-action="Index">
                            <span class="pcoded-mtext">Person</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="Service" asp-action="Index">
                            <span class="pcoded-mtext">Services</span>
                           
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="Skill" asp-action="Index">
                            <span class="pcoded-mtext">Skills</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a asp-controller="Background" asp-action="Index">
                            <span class="pcoded-mtext">Backgrounds</span>
                            @*<span class="pcoded-badge label label-info ">Backgrounds</span>*@
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="category" asp-action="Index">
                            <span class="pcoded-mtext">Categories</span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="Portfolia" asp-action="Index">
                            <span class="pcoded-mtext">Portfolias</span>
                        </a>
                    </li>
                    <li class="">
                        <a asp-controller="BlogPost" asp-action="index">
                            <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                            <span class="pcoded-mtext">Blog</span>
                        </a>
                    </li>

                </ul>
            </li>


        </ul>

    </div>
</nav>
